header {
    margin: 30px auto;
    max-width: 85%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(52,79,121,.56);
    justify-content: space-between;


}

header .right_header{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;


}

header .logo_bar {
    margin-top: -38px;
    display: block;
}



header .mnu_top {
    list-style-type: none;

}

header .mnu_top li {
    display: inline-block;
    margin-right: 150px;

}

 header .mnu_top li a {
     display: block;
     text-decoration: none;
     color: #000000;
     font-size: 20px;
     font-family: Arial, sans-serif;
     font-weight: 600;
     transition: color .4s ease;
 }

header .mnu_top li a:hover{
    color: #9b9b9b;
}

header .btns {
    margin: 20px ;
    font-family: Arial, sans-serif;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    text-decoration: none;


}

header .btns a {
    border-radius: 10px;
    text-decoration: none;
    transition: all .4s ease;

}

header .btns .btn_light {
    font-size: 20px;
    color: black;
    font-weight: 500;
    border: 2px solid black;
    padding: 7px 35px;
    transition: all .4s ease;
    margin-right: 30px;
}
header .btns .btn_light:hover {
    background-color: black;
    color: #e3e3e3;
}

header .btns .btn_black {
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: black;
    padding: 9px 24px;
}

header .btns .btn_black:hover {
    background-color: #9b9b9b;
    color: #e3e3e3;

}

header .btns .btn_logout {
    font-size: 20px;
    font-weight: 600;
    color: #7c7c7c;
    padding: 9px 24px;
    transition: all .4s ease;
}

header .btns .btn_logout:hover {
    color: black;

}

header .btns .btn_profile {
    font-weight: 600;
    font-size: 20px;
    margin-right: 30px;
    color: #7c7c7c;
    padding: 7px 35px;
    transition: all .4s ease;
}

header .btns .btn_profile:hover {
    color: black;
}


/* button Start buying*/
.btn {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    font-weight: 600;
    transition: all .4s ease;
    border-radius: 10px;
    text-decoration: none;
    background-color: black;


}

.btn:hover {
    background-color: #9b9b9b;
}

/*main banner*/



#main_banner{
    padding: 250px 0 400px;
    font-size: 57px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40% 82%;
    margin: 9px;
}

#main_banner .inner_banner h1 {
   margin-bottom: 50px;
    color: #4F4C67;
    font-size: 57px;
    font-weight: 600;
    max-width: 838px;
    line-height: 60px;


}
#main_banner .inner_banner .btn {
    padding: 9px 15px;
    font-size: 24px;


}

.container_custom {
    width: 85%;
    margin: 0 auto;
}



/* Why Us */

#why_us {
    padding: 90px 0 170px;
    background: #e9e8e8;
    border-radius: 30px;

}

#why_us .container_1400 h2{
    color: #4F4C67;
    font-size: 44px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    text-align: center;

}

#why_us .container_1400 .description{
    color: #4F4C67;
    font-size: 18px;
    font-weight: 400;

    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.container_1400 {
    max-width: 1400px;
    margin: 0 auto;
}
#why_us .row_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#why_us .row_flex .why_item{
    max-width: 280px;
    width: 20%;
    color: #4F4C67;
    text-align: center;
}

#why_us .row_flex .why_item img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

#why_us .row_flex .why_item .name {
    margin: 70px 0 16px;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
}
#why_us .row_flex .why_item .descr {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 18px;

}

footer {

}

footer .footer_up {
    background: #e9e8e8;
    border-radius: 30px;
    margin-top: 5px;
    /*padding: 84px 0;*/
}

footer .mnu_footer{
    display: flex;
    justify-content: space-between;
    width: 30%;



}

footer .mnu_footer .col_mnu_footer {
    width: 30%;
    padding-top: 84px;

}
footer .mnu_footer .col_mnu_footer b{
    font-weight: 500;
    font-size: 24px;
    color: #4F4C67;
    font-family: Arial, sans-serif;
    display: block;
    margin-bottom: 40px;
}

footer .mnu_footer .col_mnu_footer ul{
    list-style-type: none;
    padding-inline-start: 0;


}

footer .mnu_footer .col_mnu_footer ul li {
    font-family: Arial, sans-serif;
    display: block;
    margin-bottom: 15px;


}
footer .mnu_footer .col_mnu_footer ul li:last-child {
    margin-bottom: 0;
}

footer .mnu_footer .col_mnu_footer ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #4F4C67;
}

footer .logo_footer a {
    text-decoration: none;
    display: block;
    margin-left: 800px;
    margin-top: -200px;

}
footer .logo_footer .mephi {
    text-decoration: none;
    display: block;
    margin-left: 1200px;
    margin-top: -250px;

}

footer .logo_footer p {
    margin: 16px 0;
    color: #4F4C67;
    font-size: 15px;
    font-weight: 300;
    font-family: Arial, sans-serif;
}
footer .logo_footer .social_footer li {
    display: inline-block;
    margin-right: 22px;
}
footer .logo_footer .social_footer li:last-child {
    margin-right: 0;
}

footer .logo_footer .social_footer {

    list-style-type: none;
    border: none;
}
footer .logo_footer li{
    list-style-type: none;
}
