* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}
a {
    color: #2083fc;
    font-weight: bold;
    text-decoration: none;
    transition: 0.15s;
}

a:hover {
    color: #8537ff;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}


input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    transition: 0.35s;
}

button:hover {
    background-color: #9b9b9b;
    color: #000;
}

.msg {
    border: unset;
    color: #f42523;
}

.msg_alrt {
    width: 700px;
    border: 2px solid #858585;
    border-radius: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    color: black;
    text-align: center;

    animation-name: alert_success;
    animation-duration: 0.4s;
}

@keyframes alert_success {
    0% {
      top: -110px;
    }
    100% {

        top: 20px;
    }

}

.logout {
    text-align: center;
    color: #b7b;
    margin: 10px;
}

.logo {
    width: 0px;
    height: 700px;
    margin-bottom: 250px;

}

.logo_1 {
    width: 0px;
    height: 700px;

}

