header {
    margin: 30px auto;
    max-width: 85%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(52,79,121,.56);
    justify-content: space-between;

}

header .right_header{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;


}

header .logo_bar {
    margin-top: -38px;
    display: block;
}



header .mnu_top {
    list-style-type: none;

}

header .mnu_top li {
    display: inline-block;
    margin-right: 150px;

}

header .mnu_top li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    transition: color .4s ease;
}

header .mnu_top li a:hover{
    color: #9b9b9b;
}

header .btns {
    margin: 20px ;
    font-family: Arial, sans-serif;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    text-decoration: none;


}

header .btns a {
    border-radius: 10px;
    text-decoration: none;
    transition: all .4s ease;

}

header .btns .btn_light {
    font-size: 20px;
    color: black;
    font-weight: 500;
    border: 2px solid black;
    padding: 7px 35px;
    transition: all .4s ease;
    margin-right: 30px;
}
header .btns .btn_light:hover {
    background-color: black;
    color: #e3e3e3;
}

header .btns .btn_black {
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: black;
    padding: 9px 24px;
}

header .btns .btn_black:hover {
    background-color: #9b9b9b;
    color: #e3e3e3;

}

header .btns .btn_logout {
    font-size: 20px;
    font-weight: 600;
    color: #7c7c7c;
    padding: 9px 24px;
    transition: all .4s ease;
}

header .btns .btn_logout:hover {
    color: black;

}

header .btns .btn_profile {
    font-weight: 600;
    font-size: 20px;
    margin-right: 30px;
    color: #7c7c7c;
    padding: 7px 35px;
    transition: all .4s ease;
}

header .btns .btn_profile:hover {
    color: black;
}

header .logo_bar img {
    width: 55%;
    height: 55%;
    display: inline-block;
}

/*Оffer*/

.position {
    width: 85%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-decoration: none;


}

.position .one_p {
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.position .amount {
    display: flex;
    padding-left: 1px;
    padding-right: 300px;
    font-weight: bold;
}

.btn_clear {
    cursor: pointer;
    border: 1px solid black;
    background: white;
    color: black;
    border-radius: 10px;
    transition: all .4s ease;
    padding: 7px;
}

.btn_clear:hover{
    color: white;
    background: black;
}

.position .image img {
    width: 120px;
    display: flex;
    margin-left: 100px;
}

.position .name_drug{
    text-decoration: none;
    color: black;

}

.name-offer  {
    font-family: sans-serif;
    font-size: 23px;
    margin-left: 130px;
    border: 2px solid black;
    border-radius: 10px;
    background: whitesmoke;
    width: 130px;
    padding-left: 10px;

}

.total_price {
padding-right: 300px;
    font-weight: bold;
}

.tags {
    display: flex;
    padding-left: 300px;
}

.tags h2 {
    font-family: sans-serif;
    font-size: 23px;
    padding-left: 250px ;
}

.tags h2:last-child {
    padding-left: 400px;
}

.line {
    width: 85%;
    margin: 30px auto;
    border-bottom: 1px solid #9b9b9b;
}

.res_price {
    font-family: sans-serif;
    font-size: 23px;
    padding-left: 1400px ;
    text-decoration: 1px underline;
    font-weight: bold;
}

.form_offer {
    margin-left: 800px;
    margin-top: 100px;
}
.of_data {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.enter_data {
    padding-left: 33px;
    font-family: sans-serif;

}

.of_data input {
    border: unset;
    border: 2px solid #a8a7a7;
    border-radius: 15px;
    outline: none;
    padding: 10px 20px 10px;
    margin-bottom: 30px;
    align-items: center;
    width: 350px;
}

.go_off  {
    cursor: pointer;
    border: unset;
    border: 1px solid black;
    background: black;
    border-radius: 15px;
    outline: none;
    padding: 10px 60px 10px;
    margin-bottom: 30px;
    align-items: center;
    transition: all .4s ease;
}

.go_off:hover {
    border: 1px solid #797979;
    background: #797979;
}

.go_off {
    margin-left: 69px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}
.alert_msg {
    margin-left: 700px;
}
.amount_msg {
    font-family: sans-serif;
    border: 2px solid #dc232c;
    background: whitesmoke;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    width: 350px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}