header {
    margin: 30px auto;
    max-width: 85%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(52, 79, 121, .56);
    justify-content: space-between;


}

header .right_header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;


}

header .logo_bar {
    margin-top: -38px;
    display: block;
}

header .logo_bar img {
    width: 55%;
    height: 55%;
    display: inline-block;
}


header .mnu_top {
    list-style-type: none;

}

header .mnu_top li {
    display: inline-block;
    margin-right: 150px;

}

header .mnu_top li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    transition: color .4s ease;
}

header .mnu_top li a:hover {
    color: #9b9b9b;
}

header .btns {
    margin: 20px;
    font-family: Arial, sans-serif;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    text-decoration: none;


}

header .btns a {
    border-radius: 10px;
    text-decoration: none;
    transition: all .4s ease;

}

header .btns .btn_light {
    font-size: 20px;
    color: black;
    font-weight: 500;
    border: 2px solid black;
    padding: 7px 35px;
    transition: all .4s ease;
    margin-right: 30px;
}

header .btns .btn_light:hover {
    background-color: black;
    color: #e3e3e3;
}

header .btns .btn_black {
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: black;
    padding: 9px 24px;
}

header .btns .btn_black:hover {
    background-color: #9b9b9b;
    color: #e3e3e3;

}

header .btns .btn_logout {
    font-size: 20px;
    font-weight: 600;
    color: #7c7c7c;
    padding: 9px 24px;
    transition: all .4s ease;
}

header .btns .btn_logout:hover {
    color: black;

}

header .btns .btn_profile {
    font-weight: 600;
    font-size: 20px;
    margin-right: 30px;
    color: #7c7c7c;
    padding: 7px 35px;
    transition: all .4s ease;
}

header .btns .btn_profile:hover {
    color: black;
}

.stepper {
    padding-left: 50px;
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    user-select: none;


}

.stepper_field {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.stepper_input {
    border: none;
    width: 40px;
    height: 100%;
    outline: none;
    font-weight: 300;
    min-width: 2ex;
    font-size: 25px;

}

.stepper_text {
    padding-left: 50px;
    font-size: 20px;
    font-weight: 100;
}


::-webkit-scrollbar {
    width: 15px;
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border: 1px solid #9b9b9b;
    border-radius: 15px;
}

.btn_logout_m {
    width: 85%;
    margin: 30px auto;
    margin-left: 1700px;
    padding-top: 50px;
}

.basket_desc {

    font-family: sans-serif;
    width: 85%;
    margin: 30px auto;
}

.basket_desc h3 {

    padding-top: 70px;
    padding-bottom: 70px;
    text-decoration: 2px underline;

}


/*Basket*/


.position {
    width: 85%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-decoration: none;
    border-bottom: 1px solid #9b9b9b;


}

.position .one_p {
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.position .amount {
    display: flex;
    padding-left: 1px;
    padding-right: 1000px;
}

.btn_clear {
    cursor: pointer;
    border: 1px solid black;
    background: white;
    color: black;
    border-radius: 10px;
    transition: all .4s ease;
    padding: 7px;
}

.btn_clear:hover {
    color: white;
    background: black;
}

.position .image img {
    width: 120px;
    display: flex;
}

.position .name_drug {
    text-decoration: none;
    color: black;
    padding-left: 50px;
}

.none {
    display: none;
}

.logout {

    border: 1px solid black;
    background: black;
    border-radius: 10px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    transition: all .4s ease;
}

.logout:hover {
    border: 1px solid #9b9b9b;
    background: #9b9b9b;
}

.btn_offer a {
    text-decoration: none;
    color: black;
}

.btn_offer {
    cursor: pointer;
    border: 1px solid #5ad249;
    background: #5ad249;
    border-radius: 10px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    margin-left: 150px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    transition: all .4s ease;
}

.btn_offer:hover {
    border: 1px solid #0bc700;
    background: #0bc700;
}

h2 .my_offers {
    margin-top: 70px;

    display: inline-block;
    padding: 10px 10px 10px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background: #2083fc;
    text-decoration: none;

}

/*My Offers*/


.offer {
    width: 85%;
    margin: 30px auto;
    border-bottom: 1px solid #9b9b9b;
}


.offer .of_elem {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

}

.offer .of_elem .of_elem_in {
    display: flex;
    flex-direction: row;

}

.of_elem_in .id {
    padding-right: 100px;
}

.of_elem .price {
    width: 200px;
    padding-left: 100px;
}

.of_elem .status {
    width: 200px;
}

.elem {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-weight: 20;
    padding-top: 25px;
}

.elem_in {
    width: 200px;
    display: flex;
    flex-direction: row;
}

.elem .name {
    padding-right: 30px;
}


.off_info {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 30px auto;
    border-bottom: 2px solid black;
}

.off_info h2 {

    padding-left: 145px;
}

.off_info .inf_st_cpd {
    padding-left: 190px;
}

.off_info h2:first-child {
    padding-left: 0;
}

.off_info .inf_sscc {
    padding-left: 100px;

}

.elem_in {
    align-items: center;
}

.completed {
    padding-left: 100px;
    padding-top: 20px;
}

.compd {
    padding-left: 200px;
}

.sscc_out {
    padding-top: 20px;


}

.sscc_cpd {
    padding-left: 24px;
}

.sscc_h {
    width: 250px;
}


.sscc_out_cl {
    padding-left: 120px;
    width: 100px;
    padding-top: 20px;
}

.btn_compile {
    margin-left: 100px;
    margin-top: 20px;
}

.elem_off_t {
    width: 200px;
    display: flex;
    flex-direction: row;

}

.login_u {
    padding-left: 100px;
    padding-top: 20px;
}

.row_t {
    display: flex;
    flex-direction: row;
}

.compd_h {
    padding-left: 100px;
    padding-top: 20px;
}
