header {
    margin: 30px auto;
    max-width: 85%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(52,79,121,.56);
    justify-content: space-between;

}

header .right_header{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;


}

header .logo_bar {
    margin-top: -38px;
    display: block;
}



header .mnu_top {
    list-style-type: none;

}

header .mnu_top li {
    display: inline-block;
    margin-right: 150px;

}

header .mnu_top li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    transition: color .4s ease;
}

header .mnu_top li a:hover{
    color: #9b9b9b;
}

header .btns {
    margin: 20px ;
    font-family: Arial, sans-serif;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    text-decoration: none;


}

header .btns a {
    border-radius: 10px;
    text-decoration: none;
    transition: all .4s ease;

}

header .btns .btn_light {
    font-size: 20px;
    color: black;
    font-weight: 500;
    border: 2px solid black;
    padding: 7px 35px;
    transition: all .4s ease;
    margin-right: 30px;
}
header .btns .btn_light:hover {
    background-color: black;
    color: #e3e3e3;
}

header .btns .btn_black {
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: black;
    padding: 9px 24px;
}

header .btns .btn_black:hover {
    background-color: #9b9b9b;
    color: #e3e3e3;

}

header .btns .btn_logout {
    font-size: 20px;
    font-weight: 600;
    color: #7c7c7c;
    padding: 9px 24px;
    transition: all .4s ease;
}

header .btns .btn_logout:hover {
    color: black;

}

header .btns .btn_profile {
    font-weight: 600;
    font-size: 20px;
    margin-right: 30px;
    color: #7c7c7c;
    padding: 7px 35px;
    transition: all .4s ease;
}

header .btns .btn_profile:hover {
    color: black;
}

header .logo_bar img {
    width: 55%;
    height: 55%;
    display: inline-block;
}


/*catalog*/
.jc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85%;
    margin: 30px auto;
}

.col-md {
    max-width: 85%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 30px auto;
}

.col-md-4 {
    border: 2px solid #9b9b9b;
    border-radius: 20px;
    padding: 7px;
    transition: all .4s ease;
    display: inline-block;
    margin: 30px;
}

.col-md-4:hover {
    border-color: black;
}

.image img{
    margin: auto;
    object-fit: cover;
    display: flex;
    border-radius: 20px;
    width: 220px;
    height: 225px;

}

.col-md .info h3 a  {
    color: black;
    text-decoration: none;

}

.col-md .info h3  {
    margin-bottom: 2px;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;
}

.col-md .info h3:hover { font-size: 25px;}

.col-md .info div  {
    text-align: center;
}
.price {
    padding-left: 20px;
    vertical-align: 15px;

}
.add_to_cart {
    padding-top: 10px;
    padding-left: 30px;
    background-color: white;
    border: none;
}

.add_to_cart ion-icon {
    cursor: pointer;
    border: 1px solid #4747ef;
    color: #4747ef;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 28px;
    height: 28px;
    transition: all .7s ease;
}

.add_to_cart ion-icon:hover {
    background-color: #4747ef;
    color: white;
}

/*Description*/

.container {
    max-width: 85%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
}

.main_info .information .name{
    padding-top: 100px;
    font-size: 35px;
}

.container .information .add_block {
    font-size: 40px;
    padding-left: 400px;
    display: flex;
    align-items: center;

}

.container .price {
    margin-top: -300px;
    margin-left: 100px;
}
.other_add {
    margin-left: -200px;
    display: flex;
}

.big_img img {
    float: left;
    width: 300px;
    padding-top: 100px;
    padding-right: 200px;

}

.other_info .instruction {
    width: 900px;
    padding-top: 150px;
    font-size: 20px;
}

.none {
    display: none;
}

/* Stepper */
.stepper {
    padding-left: 50px;
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    user-select: none;
}

.stepper_field {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.stepper_input {
    border: none;
    width: 40px;
    height: 100%;
    outline: none;
    font-weight: 300;
    min-width: 2ex;
    font-size: 25px;

}

.stepper_text {
    padding-left: 50px;
    font-size: 20px;
    font-weight: 100;
}




::-webkit-scrollbar {
    width: 15px;
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border: 1px solid #9b9b9b;
    border-radius: 15px;
}

.sucsess_mesg {
    font-family: sans-serif;
    border: 2px solid #17e507;
    background: whitesmoke;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    width: 350px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}


